/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
    font-size: 0.9rem !important;
}

.header{
    background-color: black;
}

.logo {
    width: 150px;
    height: auto;
}